@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

body {
    background-color: rgb(45, 69, 171);
    margin: 0;
    overflow: hidden;
}

header {
    margin-left: 30px;
}

.title {
    color: white;
    font-size: 150px;
    font-family: 'Aldrich', sans-serif;
    margin-top: 50px;
}

.subtitle {
    color: white;
    font-size: 70px;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    margin-left: 10px;
}

.sectionTitle {
    color: white;
    font-size: 40px;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}

.icons {
    display: flex;
}

.slash {
    font-size: 70px;
    margin-left: 20px;
    color: #cccccc;
}

.slashMini {
    font-size: 40px;
    margin-left: 20px;
    color: #cccccc;
}

.icon {
    margin-left: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.projects {
    display: flex;
    margin-left: 25px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    transition: transform 0.5s ease;
    background-color: #FFFFFF;
    outline: 4px solid white;
    background-image: url('https://imgs.search.brave.com/xar51Ll0aPsDycgqxGYwz_GsM7ERaCOv8ghGjFEeht4/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9raWRz/Y2FyZG9uYXRpb25z/Lm9yZy93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMC8xMC9TdGFy/aW5nLUtpdHRlbi5q/cGc');
    background-size: cover;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.remota {
    background-image: url('./projectImgs/remotawebsite.png');
}
.lfg {
    background-image: url('./projectImgs/LFG.png');
}
.blogsite {
    background-image: url('./projectImgs/BlogSitePic.png');
}
.playground {
    background-image: url('./projectImgs/playgroundwebsite.png');
}

.card:hover {
    transform: scale(1.05);
    /* increase the scale by 5% */
}

a {
    text-decoration: none;
}

.cardName {
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
}
.cardSub {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    margin-top: 3px;
}


.shaking-div {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    transform-origin:50% 50%;
    display: inline-block;
    animation-play-state: paused;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate(-2px, 0);
    }
    
    20%, 80% {
      transform: translate(2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }
  
    40%, 60% {
      transform: translate(4px, 0);
    }
  }
  
  .shaking-div:hover {
    animation-play-state: running;
  }
  

  #popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
  }
  
  #popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 150px;
    font-family: 'Aldrich', sans-serif;
  }
  